<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <title><%=title%></title>
  </head>
  <body>
    <div class="container">
      <div class="card product-card">
        <h1>All Products</h1>
        <ul class="list">
          <% products.map(product=> { %>
          <li class="list-item">
            <img class="list-item__image" src="<%=product.image%>" />
            <div>
              <a href="<%=product.url%>">
                <h2><%= product.name %></h2>
              </a>
              <p><%= product.desc %></p>
            </div>
          </li>
          <%})%>
        </ul>
      </div>
    </div>
  </body>
</html>
